// copyright 2017 DipFestival, LLC
// by Correy Winke
// 12/19/16
@charset "UTF-8"

// by correy winke
// beging in the diffrent styles to make on big file
@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap"
@import "../node_modules/bootstrap-material-design/sass/bootstrap-material-design"
@import "../node_modules/bootstrap-material-design/sass/ripples"
@import "base"
@import "footer"

#nav-top
	background-color: red
	height: 50px

a[href="lookup"]
  	margin-bottom: 3rem

// error for files
.myError
	background-color: #FB0008

#myAlert
	margin-top: 20px
	margin-top: 2rem

#description
	color: white
	font-size: 20px

#findPersonBody
	background-color: #252525

#visitorLookupLabel
	color: #f6f6f6

.myLogin input
  color: white !important

#adimPage > div.container > h1
  color: white

div.panel-heading a
	color: #fff

#IndexPage > div.container > form > button
	margin-bottom: 5rem

#myAlert
	margin: -1rem 0 3rem 0

.myError
  color: #f00

#whatBody
  background-color: #1a1a1a

/*login styles*/
.body-style-light
  padding-top: 60px
  background-color: #26262a
  color: #26262a

#main-form > div.panel-footer
	margin-bottom: 5rem