// by Correy Winke
// 12/19/16
@charset "UTF-8"

// by correy winke
// beging in the diffrent styles to make on big file
@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap"
@import "base"

body
	background-color: #f7f7f7

#nav-top
	background-color: red
	height: 50px

/*login styles*/
.body-style-light
	padding-top: 60px
	background-color: #f5f5f5
	color: #26262a

.myError
	color: #fff
	background-color: #FB0008

#myAlert
	margin-top: 2rem
