RewriteEngine on
RewriteRule ^php/view/visitor php/view/HandleVisiter.php [NC,L]
RewriteRule ^php/view/lookup php/view/findperson.php [NC,L]
RewriteRule ^php/view/404 php/view/404.php [NC,L]
ErrorDocument 404 /DIP-Class/php/view/404